<!DOCTYPE html>
<html lang="cs">
<head>
  {% if title %}
    <title>naavyk: {{ title }}</title>
  {% else %}
    <title>naavyk</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Marek">
  <link rel="stylesheet"    
        href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet"    
        href="{{ url_for('static', filename='attention.css') }}">
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='logo-ico.png') }}" />

  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block endhead %}{% endblock endhead %}
</head>

<body>
{%block body%}
{#https://www.w3schools.com/charsets/ref_utf_symbols.asp#}
{#http://www.utf8-chartable.de/unicode-utf8-table.pl#}
  <header>
    <h1><a href="{{url_for('index')}}">
      naavyk <img src="{{ url_for('static', filename='logo.png') }}"
             width="177" height="139"
                         alt="logo:horník s vozíkem" /></a>
      <br /><span id="podtext">... nákup pro výuku</span>
    </h1>
    <nav id="topnav">
      <ul>

        <li><a href="{{url_for('index')}}">Moje objednávky</a></li>
        {%- if current_user.is_authenticated %}
          {%- if current_user.admin %}
          <li><a href="{{url_for('orders')}}" class="admin">Správa objednávek</a></li>
          <li><a href="{{url_for('item')}}" class="admin">Položka</a></li>
          <li><a href="{{url_for('group')}}" class="admin">Skupina</a></li>
          {%- endif %}
        <li><a href="{{url_for('logout')}}"
               title="Odhlásit se!"
               class="logout">{{current_user.name}}
                              {{current_user.classname}}<br />
               LogOut</a></li>
        {%- endif %}
      </ul>
    </nav>

  </header>

  <main>

    
{#{% if current_user.is_authenticated %}#}
{#<p>#}
{#<strong>uživatel:</strong> {{ current_user.name }}, #}
{#<strong>role:</strong> {{ current_user.role_name }}#}
{#</p>#}
{#{% endif %}#}


    {%- with messages = get_flashed_messages(with_categories=true) -%}
      {%- if messages -%}
        <ul class="messages">
        {%- for category, message in messages -%}
          <li class="{{ category }}">{{ message }}</li>
        {%- endfor -%}
        </ul>
      {%- endif -%}
    {%- endwith -%}

    {%- block content -%}

    {%- filter markdown -%}
      {%- include "index.md" ignore missing with context -%}
    {%- endfilter -%}


    <h2>Objednávka</h2>

    <p>Objednávat můžete v těchto skupinách:</p>
    <ul id="groupsel">
    {% for g in groups  %}
    <li><a href="{{ url_for('order', gid=g.id) }}">{{ g.name }}<br />
        <span class="description">{{ g.description }}</span>
        <div class="group-price-count">
          počet položek: {{g.totalcount}}<br />
          celková cena: {{g.price}},- Kč</div>

        {% if g.lock %}<br/>🔏 zamknuto 🤐{% endif %}

        {%- if g.status != None %}
        <ol class="status">
          {% if g.status == 'ordered' or g.status == '' %}{% set ordered='status' %}{% endif %}
          {% if g.status == 'paid' %}{% set paid='status' %}{% endif %}
          {% if g.status == 'handedover' %}{% set handedover='status' %}{% endif %}
          <li class="{{ ordered }}">objednáno</li>
          <li class="{{ paid }}">zaplaceno</li>
          <li class="{{ handedover }}">předáno</li>
        </ol>
        {%- else %}
        <p style="color: lightgray">Objednávka zatím nebyla vytvořena.</p>
        {%- endif %}
        
        </a></li>
    {% endfor %}
    </ul>


    {%endblock content%}

	</main>
  <footer>
  <p id="bar">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </p>

  <p id="author">Vytvořil 
  <a href="http://marrek.cz/">Marrek Nožka</a> pro radost sobě 
  a svým studentům.<br />
  <a href="http://github.com/spseol/naavyk">http://github.com/spseol/naavyk</a>
  </p>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='medium-zoom.min.js') }}"> </script>
<script src="{{ url_for('static', filename='juuu.js') }}"> </script>
<script src="{{ url_for('static', filename='attention.js') }}"> </script>
{% block endbody %} {% endblock endbody %}
{%endblock body%}
</body>
</html>
