{% extends "base.html.j2" %}

{%block content%}
<h2>Skupiny</h2>

<div class="groups">
{%- for g in groups %}
<form method="POST">
  <dl class="group group-{{'enable' if g.enable else 'disable'}}">
    <dt>{{g.name}} <a href="{{ url_for('item_in_group', gid=g.id) }}">🚀</a></dt>
    {%- if g.description  %}
    <dd>{{g.description}}</dd>
    {%- endif %}
    <dd>
      {{edform.csrf_token(id=False)}}
      {{edform.group_id(value=g.id, id=False)}}
      {{edform.enable(id=False)}}
      {{edform.disable(id=False)}}
      {{edform.remove(id=False)}}
    </dd>
  </dl>
</form>
{%- endfor %}
</div>

<h3>Přidat skupinu</h3>

<form method="POST">
    {{ addform.csrf_token }}
    <p>Název:<br />
    {{addform.name(size=20) }} </p>
    <p>Popis:<br />
    {{ addform.description(cols=40, rows=4) }}</p> 

    <p> {{addform.submit(value="Přidat skupinu")}}</p>
</form>



{%endblock content%}
