{% extends "base.html.j2" %}

{% block endbody %}

<script>

  removeClick = function(event) {
      event.preventDefault();

      var nadpis = $(this).parents('dl').children('dt').clone();
      nadpis.children('a').remove();
      nadpis = nadpis.text();
      var form = $(this).parents('form');

      new Attention.Confirm({
          useInnerHTML: true,
          title: 'Smazat?',
          content: 'Opravdu chceš smazat <strong>' + nadpis + '</strong>?',
          buttonConfirm: 'Ano',
          buttonCancel: 'Ne',
          onConfirm(component) {
            form.append('<input type="hidden" name="remove" value="Smazat" />');
            form.submit();
          }
      });
  };
  

  $( document ).ready(function() {
      $('.remove').click(removeClick);
  });

</script>
{% endblock endbody %}

{%block content%}
<h2>Skupiny</h2>

<div class="groups">
{%- for g in groups %}
<form method="POST">
  <dl class="group group-{{'enable' if g.enable else 'disable'}} group-{{'' if g.lock else 'un'}}lock">
    <dt>{{g.name}} <a href="{{ url_for('item_in_group', gid=g.id) }}">🚀</a></dt>
    {%- if g.description  %}
    <dd>{{g.description}}</dd>
    {%- endif %}
    <dd>Stav: {% if g.enable -%}povoleno{%- else -%}zakázáno{%- endif -%}, 
              {% if g.lock -%}zamknuto{%- else -%}odemknuto{%- endif -%}
    </dd>
    <dd style="font-size: 222%;">
      {% if g.enable %}✔{% else %}❌{% endif %} 
      {% if g.lock %}🔏 🤐{% else %}✍ 🤔{% endif %}
    </dd>
    <dd>
      {{edform.csrf_token(id=False)}}
      {{edform.group_id(value=g.id, id=False)}}
      {% if g.enable %}
        {{edform.disable(id=False)}}
      {% else %}
        {{edform.enable(id=False)}}
      {% endif %}
      {% if g.lock %}
        {{edform.unlock(id=False)}}
      {% else %}
        {{edform.lock(id=False)}}
      {% endif %}
      {{edform.remove(id=False, class="remove")}}
    </dd>
  </dl>
</form>
{%- endfor %}
</div>

<h3>Přidat skupinu</h3>

<form method="POST">
    {{ addform.csrf_token }}
    <p>Název:<br />
    {{addform.name(size=20) }} </p>
    <p>Popis:<br />
    {{ addform.description(cols=40, rows=4) }}</p> 

    <p> {{addform.submit(value="Přidat skupinu")}}</p>
</form>



{%endblock content%}
