{% extends "base.html.j2" %}

{%- set url_itemedit = url_for('itemedit',iid=0)[0:-1] -%}

{% block endbody %}
<script>

  removeClick = function(event) {
      event.preventDefault();

      var nadpis = $(this).parents('form').children('h3').text();
      var form = $(this).parents('form');

      new Attention.Confirm({
          useInnerHTML: true,
          title: 'Smazat?',
          content: 'Opravdu chceš smazat <strong>' + nadpis + '</strong>?',
          buttonConfirm: 'Ano',
          buttonCancel: 'Ne',
          onConfirm(component) {
              form.append('<input type="hidden" name="remove" value="Smazat" />');
              form.submit();
          }
      });
  };
    
  async function editClick(event) {
    event.preventDefault();
    var iid = $(this).parents('form').children('input[name="iid"]').val();
    var thisform = $(this).parents('form')
    var section = $(this).parents('section');
    const response = await fetch("{{ url_itemedit }}"+iid, {method:"GET"});
    if (response.ok) {
      html = await response.text();
      section.prepend('<div id="background"><div id="editwin">'+html+'</div></div>')

      $(".cancel").click(function(event) {
        event.preventDefault();
        $("#background").remove();
      })

      $("#submit").click(async function(event) {
        event.preventDefault();

        const form = $(this).parents('form');
        const iid = form.attr('id');
        const fdata = new FormData(form[0]);
        const action = form.attr('action');
        const response = await fetch(action, {
          method:"POST",
          body: fdata,
        });
        if (response.ok) {
          data = await response.json();
          thisform.children('h3').text(data.name);
          thisform.find('p.item-dsc').text(data.description);
          thisform.find('strong').text(data.price);
          thisform.find('.url').attr('href', data.url);
          thisform.find('.url').text(data.url);
          thisform.find('.recommended').remove();
          thisform.find('.necessary').remove();
          if (data.recommended) {
            thisform.find('.item-ul').prepend('<li class="recommended">Doporučený</li>');
          }
          if (data.necessary) {
            thisform.find('.item-ul').prepend('<li class="necessary">Nezbytný</li>');
          }
          if (data.image) {
            console.log('obrazek');
            var img = thisform.find('img');
            var src = img.attr('src');
            img.attr('src', src+'?r='+Math.random());
          }

          $("#background").remove();
        }
      })
    }
  }


  $( document ).ready(function() {
    $('.remove').click(removeClick);
    $('.edit').click(editClick);
  });

</script>
{% endblock endbody %}

{%block content%}
<section class="item-list">
<h2><small>Položky ve skupině:</small> {{group.name}}</h2>
<p class="group-description">{{ group.description }}</p>
    {% for item in group.items.order_by(Item.name) %}
    <form method="post">
      {{ opform.csrf_token(id=False) }}
      {{ opform.iid(value=item.id, id=False) }}
    <h3>{{item.name}}</h3>
    <div class="item-item-1">
      <p class="item-img">
        <img src="{{ url_for('img', iid=item.id) }}" class="zoomable" alt="">
      </p>
      <p class="item-dsc">{{ item.description }}</p>
      <ul class="item-ul">
        {% if item.necessary %}
          <li class="necessary">Nezbytný</li>
        {% endif %}
        {% if item.recommended %}
          <li class="recommended">Doporučený</li>
        {% endif %}
        <li><strong>{{ item.price }}</strong>,- Kč</li>
        <li>{{ opform.remove(id=False, class='remove') }}</li>
        <li>{{ opform.edit(id=False, class='edit') }}</li>
      </ul>
    </div>    
    <div class=item-item-2>    
      <p class="price">Cena: <strong>{{ item.price }}</strong>,- Kč</p>
      <p>{% if item.url %}Adresa: <a href="{{ item.url }}" 
                                     target="_blank" 
                                     class="url">{{ item.url }}</a>
      {% endif %}
      </p>
    </div>    
      <hr />
    </form>
    {% endfor %}
</section>    
{%endblock content%}
