{% extends "base.html.j2" %}


{%block content%}
<section class="item-list">
<h2><small>Položky ve skupině:</small> {{group.name}}</h2>
<p>{{ group.description }}</p>
    {% for item in group.items.order_by(Item.name) %}
    <form method="post">
      {{ opform.csrf_token(id=False) }}
      {{ opform.iid(value=item.id, id=False) }}
    <h3>{{item.name}}</h3>
    <section class="item-item-1">
      <p class="item-img">
        <img src="{{ url_for('img', iid=item.id) }}" class="zoomable" alt="">
      </p>
      <p class="item-dsc">{{ item.description }}</p>
      <ul>
        {% if item.necessary %}
          <li class="necessary">Nezbytný</li>
        {% endif %}
        {% if item.recommended %}
          <li class="recommended">Doporučený</li>
        {% endif %}
        <li><strong>{{ item.price }}</strong>,- Kč</li>
        <li>{{ opform.remove(id=False) }}</li>
      </ul>
    </section>    
    <section class=item-item-2>    
      <p>Cena: <strong>{{ item.price }}</strong>,- Kč</p>
      <p>{% if item.url %}Adresa: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
      {% endif %}
      </p>
      </section>    
      <hr />
    </form>
    {% endfor %}
</section>    
{%endblock content%}
