{% extends "base.html.j2" %}

{% block endbody %}
<script>

  removeClick = function(event) {
      event.preventDefault();

      var nadpis = $(this).parents('form').children('h3').text();
      var form = $(this).parents('form');

      new Attention.Confirm({
          useInnerHTML: true,
          title: 'Smazat?',
          content: 'Opravdu chceš smazat <strong>' + nadpis + '</strong>?',
          buttonConfirm: 'Ano',
          buttonCancel: 'Ne',
          onConfirm(component) {
              form.append('<input type="hidden" name="remove" value="Smazat" />');
              form.submit();
          }
      });
  };
    
  function editClick(event) {
    event.preventDefault();
    var iid = $(this).parents('form').children('input[name="iid"]').val();
    section = $(this).parents('section');
    
    fetch("/item/"+iid)
    .then(function (response) {
      return  response.text();
    })
    .then(function (body) {
      console.log(body);
      section.prepend('<div id="background"><div id="editwin">'+body+'</div></div>')

      $("#cancel").click(function(event) {
        event.preventDefault();
        $("#background").remove();
      })

      $("#submit").click(function(event) {
        event.preventDefault();
      })

    });


  }

  $( document ).ready(function() {
    $('.remove').click(removeClick);
    $('.edit').click(editClick);
  });

</script>
{% endblock endbody %}

{%block content%}
<section class="item-list">
<h2><small>Položky ve skupině:</small> {{group.name}}</h2>
<p class="group-description">{{ group.description }}</p>
    {% for item in group.items.order_by(Item.name) %}
    <form method="post">
      {{ opform.csrf_token(id=False) }}
      {{ opform.iid(value=item.id, id=False) }}
    <h3>{{item.name}}</h3>
    <div class="item-item-1">
      <p class="item-img">
        <img src="{{ url_for('img', iid=item.id) }}" class="zoomable" alt="">
      </p>
      <p class="item-dsc">{{ item.description }}</p>
      <ul>
        {% if item.necessary %}
          <li class="necessary">Nezbytný</li>
        {% endif %}
        {% if item.recommended %}
          <li class="recommended">Doporučený</li>
        {% endif %}
        <li><strong>{{ item.price }}</strong>,- Kč</li>
        <li>{{ opform.remove(id=False, class='remove') }}</li>
        <li>{{ opform.edit(id=False, class='edit') }}</li>
      </ul>
    </div>    
    <div class=item-item-2>    
      <p>Cena: <strong>{{ item.price }}</strong>,- Kč</p>
      <p>{% if item.url %}Adresa: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
      {% endif %}
      </p>
    </div>    
      <hr />
    </form>
    {% endfor %}
</section>    
{%endblock content%}
