{% extends "base.html.j2" %}

{% block endbody %}
<script>

updateClick = function(event) {
    event.preventDefault();
    form = $(this).parents('form');
    var fdata = new FormData(form[0]);
    var url = "{{ url_for('orderAJAX', gid=group.id) }}";
    $.ajax({
        url: url,
        data: fdata,
        cache: false,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (confirmdata) {
            //console.log(confirmdata);
            var input = $(form).find('input.count');
            input.val(confirmdata.count);
            $('#total-price').text(confirmdata.price+',-');
            $('#total-count').text(confirmdata.totalcount);
            input.parent().append('<span id="donedone" >&#128504;</span>')
            $('#donedone').fadeOut(800);
            setTimeout(function() {
                $('#donedone').remove();
            }, 801);
        }
    });
};


$( document ).ready(function() {
  $('.update').click(updateClick);
  $('input.count').change(function(event) {
    $(this).next('input.update').submit();
  });
});


</script>
{% endblock endbody %}

{%block content%}
<h2><small>Objednávka pro skupinu:</small> {{group.name}}</h2>
<p class="group-description">{{ group.description }}</p>
<section class="item-list">
    {% for item in group.items.order_by(Item.name) %}
    <form method="post">
      {{ form.csrf_token(id=False)}}
      {{ form.iid(value=item.id, id=False) }}
    <h3>{{item.name}}</h3>
    <section class="item-item-1">
      <p class="item-img">
        <img src="{{ url_for('img', iid=item.id) }}" class="zoomable" alt="">
      </p>
      <p class="item-dsc">{{ item.description }}</p>
      <ul>
        {% if item.necessary %}
          <li class="necessary">Nezbytný</li>
        {% endif %}
        {% if item.recommended %}
          <li class="recommended">Doporučený</li>
        {% endif %}
        <li><strong>{{ item.price }}</strong>,- Kč</li>
        <li>Počet:<br />
          {{ form.count(type="number", value=counts.get(item.id) or 0, min=0, max=777, 
                        style="width: 4em;", class="count", id=False) }}
        </li>
        <li>{{ form.update(id=False, class="update") }}<li>
      </ul>
    </section>    
    <section class=item-item-2>    
      <p>Cena: <strong>{{ item.price }}</strong>,- Kč</p>
      <p>{% if item.url %}Adresa: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
      {% endif %}
      </p>
      </section>    
      <hr />
    </form>
    {% endfor %}
</section>    

<p id="total-info">
  Celková cena: <strong id="total-price">{{ price }},-</strong> Kč <br />
  Počet položek: <strong id="total-count">{{ count }}</strong> <br />
</p>


{%endblock content%}
